<nav class="bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg p-4 fixed w-full z-10">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="text-2xl font-bold text-white">
            <a href="/">IntoChords</a>
        </div>
        <div class="space-x-4">
            <a href="/" class="text-white hover:text-blue-700">Main Page</a>
            <a href="interval-game" class="text-white hover:text-blue-700">Interval Game</a>
            <a href="login" class="text-white hover:text-blue-700">Log In</a>
            <a href="logout" class="text-white hover:text-blue-700">Log Out</a>
            <a href="/chords-game" class="text-white hover:text-blue-700">Chords Game</a>
            <a href="/user-panel" class="text-white hover:text-blue-700">User Panel</a>
        </div>
    </div>
</nav>
