@keyframes wave-animation {
    0% { transform: translateY(0px); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0px); }
}

#wave1, #wave2, #wave3 {
    animation: wave-animation 4s ease-in-out infinite;
}
