<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Interval Game</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/style/intervals-game-stylesheet.css" rel="stylesheet">
    <script src="/script/interval/interval-game.js"></script>

</head>
<body>

<div th:replace="~{/components/nav :: nav}"></div>

<section class="flex flex-col justify-center items-center min-h-screen py-10 px-6">
    <div class="bg-white p-10 rounded-2xl shadow-lg max-w-3xl w-full transform transition-transform duration-300">
        <div class="container mx-auto flex flex-col items-center">
            <h1 class="text-5xl font-extrabold mb-6 text-gray-800 drop-shadow-md">Interval Game</h1>

            <div class="mt-8 flex flex-col items-center space-y-4">
                <button id="playSounds" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition">
                    Play
                </button>

                <audio id="firstSound" style="display: none;"></audio>
                <audio id="secondSound" style="display: none;"></audio>

                <div class="mt-4 w-full">
                    <label for="volumeSlider" class="text-lg font-semibold mb-2 text-gray-800">Volume</label>
                    <input type="range" min="0" max="1" step="0.01" id="volumeSlider" value="0.5" class="w-full accent-blue-500">
                </div>
            </div>
        </div>

        <form id="myForm" class="mt-10">
            <div class="grid grid-cols-3 gap-6">
                <button th:each="interval : ${intervals}" type="button"
                        th:value="${interval.name}"
                        class="interval-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-lg w-full transition focus:outline-none"
                        onclick="selectInterval(this)">
                    <span th:text="${interval.name}"></span>
                </button>
            </div>

            <input type="hidden" id="userAnswer" name="userAnswer">
            <button type="button" id="submitAnswer" class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-3 px-6 rounded-lg mt-8 block w-full transition disabled:opacity-50" disabled>
                Check answer
            </button>
        </form>

        <div id="resultMessage" class="mt-6 max-w-md mx-auto hidden">
            <p id="resultText"></p>
        </div>
    </div>
</section>
</body>
</html>
