<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Login</th>
        <th>Password</th>
        <th>Interval Answer Inc</th>
        <th>Interval Answer Dec</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iteracja po liście użytkowników -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.interval_answer_inc}"></td>
        <td th:text="${user.interval_answer_dec}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
